html {
    font-size: 14px;
}
@font-face {
    font-family: FotRodin-M;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-m.otf');
}

@font-face {
    font-family: FotRodin-L;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-l.otf');
}

@font-face {
    font-family: FotRodin-DB;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-db.otf');
}
body {
 background: var(--light-background);
 background-size: cover;
 background-repeat: no-repeat;
 font-family: FotRodin-M;

}

