@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

html {
    font-size: 12px;
}
@font-face {
    font-family: FotRodin-M;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-m.otf');
}

@font-face {
    font-family: FotRodin-L;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-l.otf');
}

@font-face {
    font-family: FotRodin-DB;
    src: url('/assets/fonts/fot-rodin-pro/FOTpro-db.otf');
}
body {
 background: var(--light-background);
 background-size: cover;
 background-repeat: no-repeat;
 font-family: FotRodin-M;
 color: var(--black);
 
 &::before{
    @include pseudo(100%,100%){
        position: fixed;
        background-image: url('/assets/images/screen-bg-mobile.png') ;
        background-size: cover;
        min-height: 100vh;
        min-width: 100vw;
        background-blend-mode: multiply;
        pointer-events: none;
        z-index: 20;
        opacity: 0.7;

        @include responsive(laptop){
            background-image: url('/assets/images/screen-bg.png') ;
         
        }
    }
 }
 &::after{
    @include pseudo(100%,100%){
        position: fixed;
        left: 0;
        top: 0;
        background-image: url('/assets/images/pixel-bg.png') ;
        background-size: cover;
        min-height: 100vh;
        min-width: 100vw;
        background-blend-mode: multiply;
        pointer-events: none;
        z-index: 20;
        opacity: 0.1;
 }
}

}

.body-dark{
    --light-background: rgba(31,31,31,1) ;
    --white: rgb(0, 0, 0);
    --black:#fff;
    --dark-background:rgba(215, 215, 215, 1);
}
