@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.main-container{
    display: flex;
    justify-content: center;
    height: calc(100vh - 220px);
    width: 100%;

    gap: 20px;
}

.bar{
    width: 3px;
    height: 40%;
    transform: scaleY(0);
    background-color: var(--black);
}

.bar--right,
.bar--left{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 50vw;
    gap: 20px;
    background-color: red;
    z-index: 10;
    
}
.bar--left{
    
    background-color: aqua;
    transform: translateX(50%);
}
.bar--right{
    transform: translateX(-50%);
}
.bar--left--lower,
.bar--left--upper{
    position: relative;
    right: 50%;
}
.bar--right--lower,
.bar--right--upper{
    position: relative;
    left: 50%;
}

.bar--left--upper,
.bar--right--upper{
    transform-origin:bottom;
    &::after{
        @include pseudo(3px,3px){
            position: absolute;
            top: -20px;
            background-color: var(--black);
        }
    }
}
.bar--left--lower,
.bar--right--lower{
    transform-origin: top;
    &::before{
        @include pseudo(3px,3px){
            position: absolute;
            bottom: -20px;
            background-color: var(--black);
        }
    }
}

.bar--show{
    
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    transform: scaleX(1);
}

    
.bar--left--show{
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    transform: translateX(72vw);
}

.bar--right--show{
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
    transform: translateX(-72vw);
}

@include responsive(laptop){


 
    

}