@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.contact{

    display: flex;
    flex-wrap: wrap;

    &__item{
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
        height: 50px;
        width: 100%;
        border: 2px solid var(--black) ;
       
    }
    &__copyright{
        width: 100%;
        text-align: center;
    }
}

.icon{
    width: 30px;
}

@include responsive(laptop){

    .contact{
        &__item{
            width: 35%;
            &:hover{
                color: var(--white);
                background-color: var(--black);
                cursor: pointer;
            }
        }
    }
}