@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.design{
    &__projects{
        width: 100%;
    }
    &__item{
        position: relative;
        width: 140px;
        height: 170px;

        &:hover .design__img__top-hover {
            width:150px;
        }
        &:hover .design__img__bottom-hover{
            width:150px;
        }
        &:hover .design__img__line-title-hover{
            width: 160px;   
        }
        &:hover .design__img__title-hover{
            color: var(--black);
        }
    }
    &__img-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        clip-path: polygon(50% 0%, 0 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
        background-color: black;
       
    }
    &__img{
 
        width: 98%;
        height: 98%;
        background-size: cover;
        background-position: center;
        background-image: url('/assets/images/fiesta.png');
        clip-path: polygon(50% 0%, 0 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
        
        &__title-hover{
            position: absolute;
            right: -95%;
            top: -17%;
            color: transparent;
            transition: color .3s cubic-bezier(.645,.045,.355,1);
        }
        &__line-title-hover{
            position: absolute;
            width: 0;
            height: 51px;
            left: 100%;
            top: -7%;
            right: 0;
            background: url('/assets/images/design-title-bar.svg')no-repeat left top;
            transition: width .3s cubic-bezier(.645,.045,.355,1);
            -webkit-filter:invert(1);
             filter:invert(1);
        }

        &__top-hover{
            top: -4.5%;
            left: -3.5%;
            position: absolute;
            height: 125px;
            width: 0;
            background: url('/assets/images/hexagon-top.svg') no-repeat left top;
           
            z-index: 1;
            transition: width .3s cubic-bezier(.645,.045,.355,1);
            -webkit-filter:invert(1);
            filter:invert(1);
            
        }
        &__bottom-hover{
            bottom: -4.5%;
            left: auto;
            right: -3.6%;
            position: absolute;
            height: 160px;
            width:0;
            background: url('/assets/images/hexagon-bottom.svg')no-repeat right bottom;
          
            z-index: 1;
            transition: width .3s cubic-bezier(.645,.045,.355,1);
            -webkit-filter:invert(1);
        filter:invert(1);
        }
    }
}
