@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;
@use "../mixins/hover.scss" as *;
@use "../config/variables.scss" as *;

.web-projects-container{

width: 100%;
}

.gallery__container{
    opacity: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    padding: 2rem;
    width: 100%;
   
    border: 2px solid var(--black);
    overflow: hidden;
}
.gallery__container--show{
    opacity: 1;
    transition: opacity 1.4s cubic-bezier(.215,.61,.355,1);
    pointer-events: all;
}

@include responsive(laptop){
    .gallery__container{
        right: 3%;
        width: 55%;
        min-height: 100%;
        }

   
}




.gallery{
   
    display: flex;
    height: 100%;
 
    transform: translateX(var(--slider-translate));
    transition: transform 1.4s cubic-bezier(.215,.61,.355,1);
    &__item{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        min-width: 100%;
       
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1.4s cubic-bezier(.215,.61,.355,1);
    }
    &__info--show{
        opacity: 1;
        pointer-events: all;
        transition: opacity 1.4s cubic-bezier(.215,.61,.355,1);
    }
    &__img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img-container--show{
        
        transform: scale(1.1);
        transition: transform 1.4s cubic-bezier(.215,.61,.355,1);
    }
    &__img{
        width: 95%;
    }
    &__buttons{
        display: flex;
        flex-direction: row;
        gap: 20px;


    }
    &__arrow--left{
        position: absolute;
        width: 50px;
        top: 55%;
        left: 0px;
        opacity: 0;
        pointer-events: none;
    }
    &__arrow--right{
        position: absolute;
        width: 50px;
        top: 55%;
        right: 0px;
        opacity: 0;
        pointer-events: none;

    }
    &__arrow--left--show,
    &__arrow--right--show{
        opacity: 1;
    transition: opacity 1.4s cubic-bezier(.215,.61,.355,1);
    pointer-events: all;
    cursor: pointer;
    }
}
@include responsive(laptop){
    .gallery{
        &__arrow--left{
            position: absolute;
            top: 70%;
            left: 450px;
    
        }
        &__arrow--right{
            position: absolute;
            top: 70%;
            right: -70px;
    
        }
    
    }    

}


.web-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    &__content{
        position: relative;
        height:200px;
    }
    &__container{
      
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        height: 100%;
        overflow-y: scroll;
        // border: 2px solid var(--black);
        // background-color:var(--white);
        width: 100%;
    }
    &__item{
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 1rem;
        transform-origin: left;
        transition: opacity .4s cubic-bezier(.645,.045,.355,1);
        opacity: 0;
        pointer-events: none;
        border: 2px solid var(--black);
       
    }
    &__item--show{
        opacity: 1;
        pointer-events: all;
        transform-origin: left;
  
        transition: opacity .6s .4s cubic-bezier(.645,.045,.355,1);
    }
 
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        
       
   
    }
    &__img{
        min-width: 100%;
        height:250px;
        background-color: red;
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@include responsive(laptop){
    .accordion{
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: 100%;
        &__content{
            display: flex;
            gap: 20px;
            width: 100%;
            height: auto;
        }
       
        &__img{
            width: 70%;
            height: 100%;
            background-color: red;
        }
        &__container{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            gap: 1rem;
            height: 100%;
     
            // border: 2px solid var(--black);
            // background-color:var(--white);
            width: 50%;
        }
    }
    }
   
    .accordion--show{
        opacity: 1;
        transition: opacity 1.4s cubic-bezier(.215,.61,.355,1);
        pointer-events: all;
    }
    

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
  }