:root {
  /* light mode*/
  --light-background: rgba(215, 215, 215, 1);
  --white: #fff;

  /* dark mode */
  --dark-background: rgba(31,31,31,1) ;
  --black: rgb(0, 0, 0);
  --black-transparent: rgba(0, 0, 0, 0.7);

/* gallery*/

--slider-translate:0

 /* font size*/
--mobile-font-size:0.8rem;
--laptop-font-size:1rem;
--laptop-font-size-titles:3rem;
--mobile-font-size-titles:2rem;
--laptop-font-size-web-projects:2.5rem;
--mobile-font-size-web-projects:1.5rem;
}

/* Variables SASS */
