:root {
  /* light mode*/
  --light-background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 80%, rgba(138,138,138,1) 100%);
  --white: #fff;

  /* dark mode */
  --dark-background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(31,31,31,1) 80%, rgba(31,31,31,1) 100%);
  --black: rgb(0, 0, 0);
  --black-transparent: rgba(0, 0, 0, 0.7);

/* gallery*/

--slider-translate:0

 /* font size*/
--mobile-font-size:0.8rem;
--laptop-font-size:1rem;
--laptop-font-size-titles:3rem;
--mobile-font-size-titles:2rem;
--laptop-font-size-web-projects:2.5rem;
--mobile-font-size-web-projects:1.5rem;
}

/* Variables SASS */
